{% extends "layout.html" %}

{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <h2>Create a Post</h2>
    <form action="{% url 'create_post' %}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
        <div class="form-group">
            {{ field|as_crispy_field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}